* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.maincontainer {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

/* LEFT IMAGE – 70% */
.leftcontainer {
    width: 70%;
    padding: 30px;
}

.leftcontainer img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* RIGHT CONTENT – 30% */
.rightcontainer {
    width: 30%;
    padding: 30px;
    background: #fff;
}

/* Styling */
.deposit span {
    text-decoration: line-through;
    color: gray;
    margin-right: 5px;
    margin-top:25px;
}

.capacity,
.tenure {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    list-style: none;
}

.capacity li,
.tenure li {
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.price {
    font-size: 28px;
    font-weight: bold;
    margin: 15px 0;
}

.price span {
    font-size: 14px;
    color: gray;
}

.link {
    color: teal;
    cursor: pointer;
    margin-bottom: 15px;
}

.faq p {
    border-top: 1px solid #ddd;
    padding: 10px 0;
    font-size: 14px;
}

